{$APP_HOST:localhost} {
  encode zstd gzip
  @api path /api/* /health/*
  reverse_proxy @api api:4000
  reverse_proxy web:3000
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }
}
